@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$paddingItem: 10px 15px 10px 15px;
$bgColorHover: #eff2ff;
$textColorHover: rgb(85, 110, 253);
$shadowBoxColor: #cbcbcb;
.ItemPaddingStyle {
  padding: $paddingItem;
}

.MenuModal {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 9px 2px $shadowBoxColor;
  padding: 10px;
  position: absolute;
  text-align: start;
  top: 7%;
  right: 15.5%;
  width: 350px;
  border-radius: 5px;
}

.TextStyle {
  color: rgb(109, 107, 107);
  &:hover {
    color: $textColorHover;
  }
}

.Text {
  font-weight: bold;
  font-size: large;
  padding: $paddingItem;
  @extend .ItemPaddingStyle;
}
.Avatar {
  &:hover {
    cursor: pointer;
  }
}

.Item {
  @extend .ItemPaddingStyle;
  @extend .TextStyle;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: $bgColorHover;
  }
}

.ItemSelect {
  @extend .Item;
  padding: 15px;
  margin: 5px;
}

.TextSetting {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.GroupChoose {
  display: flex;
  justify-content: space-between;
  @extend .Item;
}
.Icon {
  margin: 0 5px 0 2px;
}
.ChooseBox {
  display: flex;
  justify-content: space-between;
}

.LangChoose {
  @extend .MenuModal;
  width: fit-content;
  padding: 5px;
  top: 10%;
  right: 7%;
}

.LoginButton {
  display: flex;
  padding: 5px;
}

.Line {
  color: $bgColorHover;
}
