@mixin children($width) {
  width: $width;
  margin: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.ChildComponent1 {
  @include children(20%);
}
.ChildComponent2 {
  @include children(40%);
}
.ChildComponent3 {
  @include children(30%);
}

.ParentComponent {
  display: flex;
  justify-content: center;
  width: 80%;
}

.ParenBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
